<h2>Список сообщений</h2>

Вы вошли как: {{ user.getName() }} # {{ user.getId() }}
<form action="/new-school/mvc/html/user/logout">
    <input type="submit" value="Выйти">
</form>

{% for message in messages %}
    {% if message.user %}
        <div> {{ message.user.email }}</div>
    {% else %}
        <div>Сообщение от удаленного пользователя</div>
    {% endif %}

    <div>{{ message.createdAt }}</div>
    <div>{{ message.text }}</div>

    {% if message.image %}
        <div>
            <img src="../images/{{ message.image }}" width="150"
                 height="90" alt="images">
        </div>
    {% endif %}
    {% if user.isAdmin() %}
        <div>
            <a href="/new-school/mvc/html/admin/deleteMessage/?id={{ message.id }}">delete</a>
        </div>
    {% endif %}
    <br>
    <br>
{% endfor %}

Добавить сообщение:
<br>
<form enctype="multipart/form-data"
      action="/new-school/mvc/html/blog/addMessage" method="post">
    Текст: <textarea type="text" name="text"></textarea><br><br>
    Загрузить изображение:<br>
    <input type="file" name="images"><br><br>
    <input type="submit" value="Отправить">
</form>